:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --button-background-color: #188ce8;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --border-bottom-color: #ececec;
  --border-portfolio: #eeeeee;
  --buttom-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-clients: #afb1b8;
  --logo-font-family: "Raleway", sans-serif;
  --text-general: "Roboto", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--text-general);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin: 0px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  transition: color, var(--animation);
}

.button, .button:active, .button:focus {
  outline: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

.logo__origin,
.logo__color {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
}

.logo__color {
  color: var(--accent-color);
  margin: 24px, 75px, 25px, 215px;
  transition: color, var(--animation);
}

.logo--dark-bg {
  color: var(--dark-bg-text-color);
}

.link.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation);
}

.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  background: var(--dark-bg-text-color);
  transition: transform var(--animation);
  padding: 40px;
  border-radius: 4px;
}

@media screen and (max-width: 1199.99px) {
  .modal {
    min-width: 450px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.03em;
  }
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: color var(--animation);
}

.modal__close:hover, .modal__close:focus {
  color: var(--accent-color);
}

.modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.modal__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  letter-spacing: 0.06em;
  padding: 0;
  height: 50px;
  width: 200px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--dark-bg-text-color);
  border-radius: 4px;
  border: none;
  transition: background-color var(--animation);
}

.modal__submit:hover, .modal__submit:focus {
  background-color: var(--button-background-color);
}

.form__field:not(:last-of-type) {
  margin-bottom: 10px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.form__input {
  margin-top: 4px;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation), outline var(--animation), color var(--animation);
}

.form__label {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form__comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.form__comment::placeholder {
  font-family: var(--text-general);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__comment:not(:placeholder-shown) {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.agreement__label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.agreement__link {
  display: flex;
  margin-left: 3px;
}

.agreement__link--blue {
  color: var(--accent-color);
}

.form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill var(--animation);
}

.form__label {
  position: relative;
  font-family: inherit;
}

.form__field:focus-within .form__input {
  border: 1px solid var(--accent-color);
  outline: var(--accent-color);
}

.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.agreement__checkbox {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
}

/* .checkbox-icon:focus {
  border: 2px solid var(--title-color);
} */
.agreement__icon {
  display: flex;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  transition: background-color var(--animation), background-image var(--animation);
}

.contacts_item__mail,
.contacts_item__tel {
  display: flex;
  align-items: center;
}

.contacts_item__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

.contacts_item__tel .contacts_item__icon {
  width: 10px;
  height: 16px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color var(--animation);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--dark-bg-text-color);
  transition: background-color, var(--animation);
}

.social-icons__link:hover .social-icons__icon,
.social-icons__link:focus .social-icons__icon {
  fill: var(--dark-bg-text-color);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__icon {
  width: 20px;
  height: 20px;
  fill: var(--dark-bg-text-color);
  transition: fill var(--animation);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
  transition: border-color var(--animation);
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform var(--animation);
  background-color: rgba(33, 150, 243, 0.9);
}

.projects__text {
  margin-bottom: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--dark-bg-text-color);
}

.item_grid:hover .projects__overlay {
  transform: translateY(0);
}

.mobile-menu-btn {
  position: relative;
  z-index: 101;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  transition: color var(--animation);
}

.mobile-menu-btn:hover .mobile__menu-icon,
.mobile-menu-btn:hover .mobile__close-icon,
.mobile-menu-btn:focus .mobile__menu-icon,
.mobile-menu-btn:focus .mobile__close-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }
}

.mobile-menu__link--current {
  color: var(--accent-color);
}

.mobile__close-icon {
  display: none;
}

.is-open .mobile__close-icon {
  display: block;
}

.is-open .mobile__menu-icon {
  display: none;
}

.mobile-menu-icon {
  width: 40px;
  height: 40px;
  fill: black;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  padding-top: 48px;
  padding-left: 40px;
  transition: right 0.5s;
}

.mobile-menu.is-open {
  right: 0;
}

.mobile-menu__list {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu_item {
  margin-bottom: 32px;
}

.mobile-contacts {
  margin-top: 302px;
}

.mobile-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 1, 18;
  color: var(--accent-color);
}

.mobile-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
}

.mobile-social--color {
  text-decoration: none;
  color: #2196f3;
}

.mobile-social {
  display: block;
  margin-top: 64px;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-social--color:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-right: 10px;
  margin-left: 10px;
}

.mobile-menu--position {
  position: absolute;
  bottom: 48px;
}

.header,
.contacts {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-weight: 500;
}

.header {
  color: var(--title-color);
  border-bottom: 1px solid var(--border-bottom-color);
}

.contacts {
  margin-left: auto;
  font-family: var(--text-general);
  color: var(--main-text-color);
}

.site-nav {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .site-nav {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .contacts_list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts_list {
    margin-left: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts_list {
    display: flex;
  }
}

.site-nav > .item:not(:last-child),
.contacts_list > .item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 1199.99px) {
  .contacts_item__mail {
    margin-bottom: 10px;
  }
}

.header__logo {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color, var(--animation);
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color, var(--animation);
}

.current {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color, var(--animation);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  bottom: -1px;
}

.current__mobile {
  color: var(--accent-color);
}

.header__container,
.header__nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__container,
  .header__nav {
    margin-left: auto;
  }
}

.nav {
  display: flex;
  align-items: center;
}

.button__hero {
  display: inline-block;
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  border-width: 0px;
  transition: background-color, var(--animation);
}

.button__hero:hover {
  background: var(--button-background-color);
}

.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.mobile.jpg);
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.mobile@2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.tablet.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.tablet@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.desktop.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.desktop@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    height: 600px;
  }
}

.hero-section__title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199.99px) {
  .hero-section__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1, 62;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
  }
}

@media screen and (max-width: 1199.99px) {
  .hero-section__container {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-section__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.advantages__title:not(:last-child) {
  margin-bottom: 10px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages {
  padding-top: 94px;
}

@media screen and (max-width: 1199.99px) {
  .advantages {
    padding-top: 60px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantages__item {
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.advantages__item::before {
  display: block;
  content: "";
  background-color: var(--buttom-bg-color);
  background-size: auto;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item:nth-child(1)::before {
  background-image: url(../images/fon-img/icons.advantages/antenna.svg);
}

.advantages__item:nth-child(2)::before {
  background-image: url(../images/fon-img/icons.advantages/clock.svg);
}

.advantages__item:nth-child(3)::before {
  background-image: url(../images/fon-img/icons.advantages/diagram.svg);
}

.advantages__item:nth-child(4)::before {
  background-image: url(../images/fon-img/icons.advantages/astronaut.svg);
}

@media screen and (max-width: 1199.99px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .services {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.services__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}

.grid-item__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  margin: 0;
  line-height: 1, 14;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--buttom-bg-color);
}

@media screen and (max-width: 1199.99px) {
  .team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}

.team__name,
.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__info {
  margin-top: 30px;
}

.team__name {
  font-weight: 500;
  color: var(--title-color);
}

.team__profession {
  color: var(--main-text-color);
}

.team__item {
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--dark-bg-text-color);
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 30px * 4) / 4);
  }
}

.team .social-icons__icon {
  fill: var(--icon-color);
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.99px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.grid-item.clients-icons-item {
  flex-basis: calc((100% - 30px * 6) / 6);
  margin-left: 30px;
  margin-top: 30px;
}

.grig-item.clients-icons-item .list.grid {
  flex-basis: calc((100% - 30px * 2) / 2);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .grig-item.clients-icons-item .list.grid {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .grig-item.clients-icons-item .list.grid {
    flex-basis: calc((100% - 30px * 6) / 6);
  }
}

.clients a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border-color var(--animation);
}

@media screen and (max-width: 767px) {
  .clients a {
    width: 210px;
  }
}

@media screen and (max-width: 1199.99px) and (min-width: 767.99px) {
  .clients a {
    width: 226px;
  }
}

.clients--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients-icons-link {
  fill: var(--icon-clients);
  transition: fill var(--animation);
}

.clients-icons-link:hover .icon,
.clients-icons-link:focus .icon {
  fill: var(--accent-color);
}

.clients-icons-link:hover, .clients-icons-link:focus {
  border-color: var(--accent-color);
}

.footer--dark-bg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer-address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--dark-bg-text-color);
  display: inline-block;
  margin-bottom: 9px;
  margin-top: 20px;
}

.contacts__mail {
  display: inline-block;
  margin-bottom: 9px;
  color: var(--link-footer-color);
  font-size: 14px;
  line-height: 1.71;
}

.contacts__tel {
  color: var(--link-footer-color);
  font-size: 14px;
  line-height: 1.71;
}

.social-connect__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1, 14;
  text-transform: uppercase;
  color: var(--dark-bg-text-color);
}

@media screen and (min-width: 780px) {
  .social-connect {
    margin-left: 70px;
  }
}

@media screen and (max-width: 1199.99px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
  }
}

.footer__information {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__information {
    margin-bottom: 0px;
  }
}

.footer.social-connect {
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .subscribe__form {
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
  }
}

.subscribe__mail {
  display: inline-block;
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe__mail {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__mail {
    width: 358px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscribe__mail {
    width: 450px;
  }
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1, 25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}

.subscribe input {
  font-size: 14px;
  line-height: 1.71;
  color: var(--dark-bg-text-color);
}

.subscribe__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.06em;
  transition: color var(--animation), background-color var(--animation);
  margin-left: 12px;
  cursor: pointer;
}

.subscribe__btn:focus, .subscribe__btn:hover {
  background-color: var(--button-background-color);
}

@media screen and (min-width: 480px) {
  .subscribe__btn {
    display: inline-flex;
    margin-top: 20px;
  }
}

.subscribe__icon {
  margin-left: 10px;
  fill: var(--dark-bg-text-color);
}

.footer .social-icons__link {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-icons__link:hover, .footer .social-icons__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .footer__adaptive {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adaptive {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 480px) {
  .subscribe {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-top: 0;
  }
}

@media screen and (max-width: 1199.99px) {
  .subscribe__form {
    flex-flow: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    align-items: baseline;
  }
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio.section .list {
  display: flex;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .portfolio.section .list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 769px) {
  .portfolio.section .list {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .filter.list {
    justify-content: center;
  }
}

.portfolio.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.99px) {
  .portfolio.section {
    padding-top: 60px;
  }
}

.portfolio.section .filter__item:not(:last-child) {
  margin-right: 8px;
}

.button__portfolio {
  border-width: 0px;
  display: inline-block;
  min-width: 73px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  background-color: var(--buttom-bg-color);
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.button__portfolio:hover, .button__portfolio:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .button__portfolio {
    display: flex;
    flex-wrap: wrap;
  }
}

.button__portfolio:nth-child(n + 4) {
  padding-bottom: 0;
}

.filter.list {
  margin-bottom: 50px;
}

@media screen and (max-width: 767.99px) {
  .filter.list {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767.99px) {
  .button.filter_button {
    padding-bottom: 15px;
  }
}

.list.projects p {
  margin-bottom: 0px;
}

.list.projects.grid .item_grid {
  flex-basis: calc((100% - 30px * 1) / 1);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow var(--animation);
}

@media screen and (min-width: 768px) {
  .list.projects.grid .item_grid {
    flex-basis: calc((100% - 30px * 2) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .list.projects.grid .item_grid {
    flex-basis: calc((100% - 30px * 3) / 3);
  }
}

.item_grid--border {
  border-right: 1px solid var(--border-portfolio);
  border-bottom: 1px solid var(--border-portfolio);
  border-left: 1px solid var(--border-portfolio);
}

.projects__name {
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  transition: color var(--animation);
}

.projects--hover .item_grid:hover,
.projects--hover .item_grid:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.social-connect__icons {
  justify-content: flex-start;
  fill: var(--dark-bg-text-color);
}

.button__hero:focus, .button__portfolio:hover, .button__portfolio:focus {
  background-color: var(--accent-color);
  color: var(--dark-bg-text-color);
}
/*# sourceMappingURL=styles.css.map */