@import "./utils/variables";
@import "./base/common";
@import "./base/container";

@import "./components/button";
@import "./components/grid";
@import "./components/title";
@import "./components/logo";
@import "./components/modal";
@import "./components/form";
@import "./components/contacts-item";
@import "./components/social-icons";
@import "./components/overlay";

@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/advantages";
@import "./layouts/services";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";
@import "./layouts/portfolio";
@import "./utils/placeholder";
