.logo__origin,
.logo__color {
  font-family: var(--logo-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: Raleway;
}
.logo__color {
  color: var(--accent-color);
  margin: 24px, 93px, 25px, 215px;
  transition: color, var(--animation);
}
.logo--dark-bg {
  color: var(--dark-bg-text-color);
}
.link.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
