.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: var(--dark-bg-text-color);
  transition: transform var(--animation);
  padding: 40px;
}

.modal__close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.modal__title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}
.modal__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  letter-spacing: 0.06em;
  padding: 0;
  height: 50px;
  width: 200px;

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--dark-bg-text-color);
  border-radius: 4px;
  border: none;
  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--button-background-color);
  }
}
