:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --button-background-color: #188ce8;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --border-bottom-color: #ececec;
  --border-portfolio: #eeeeee;
  --buttom-bg-color: #f5f4fa;
  --icon-color: #afb1b8;
  --icon-clients: #afb1b8;
  --logo-font-family: "Raleway", sans-serif;
  --text-general: "Roboto", sans-serif;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
