.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: var(--buttom-bg-color);
}
.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 50px;
}
.team__name,
.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__info {
  margin-top: 30px;
}
.team__name {
  font-weight: 500;
  color: var(--title-color);
}
.team__profession {
  color: var(--main-text-color);
}
.team__item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--dark-bg-text-color);
}
.team .social-icons__icon {
  fill: var(--icon-color);
}
